*{
    margin: 0;
    padding: 0;
}

body{
    background-color: slategrey;
    text-align: center;
}

.container{
    height: 70vh;
     align-items: center;
     justify-content: center;
     display: flex;
     flex-wrap: wrap;
}

.game{
     height: 60vh;
     width: 60vh;
     align-items: center;
     justify-content: center;
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
 }

.box{
     height: 18vh;
     width: 18vh;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    font-size: 8vh;
 }

 .box:hover{
    background-color: rgb(79, 62, 62);
    transition: 0.3;
 }

 #reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: aliceblue;
    border-radius: 10%;
 }